APP_NAME="ACSM Control"
COMPANY_NAME="ACSM S.A de C.V."
OWNER_COMPANY_NAME="ACSM S.A de C.V."
ENVIRONMENT=local
DATABASE_URL=postgresql+psycopg://constructora:constructora@localhost:5432/constructora_db
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DEFAULT_PROFIT_PERCENT=0.15

ADMIN_FULL_NAME="Administrador Maestro"
ADMIN_EMAIL=admin@acsm-control.local
ADMIN_PASSWORD=Admin12345!
AUTO_SEED_ADMIN=false
